[Desktop Entry]
Name=Mensa


Comment=Mensa Lübeck Speiseplan

Icon=emoji-food-symbolic
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-Plasma-NotificationArea=true

X-KDE-PluginInfo-Name=com.github.leonderdunna.mensa
X-KDE-PluginInfo-Category=Food Information
X-KDE-PluginInfo-Author=Leonard Menzel
X-KDE-PluginInfo-Email=leonard.menzel@tutanota.com
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://github.com/leonderdunna/mensa.git
X-KDE-PluginInfo-License=GPL V3
X-KDE-PluginInfo-EnabledByDefault=true
